/* #btn {
  min-height: 100px;
  min-width: 100px;
  padding: 30px;
  border: 1px solid black;
  align-items: center;
} */


/* #div1{
  background-color:red;
  padding: 24px;
}

#div2{
  background-color:green;
} */
